/* Colour Palette

    background-color: #b84030;
    background-color: #3d1f10;
    background-color: #516241;
    background-color: #b9a072;
    background-color: #b04507;
    background-color: #750119;

*/

body {
    font-family: 'Noto Sans', sans-serif;
}

section a {
    background-color: rgba(0,0,0,0.8);
    border-radius: 0.25rem;
    color: #fff;
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

section a:hover {
    background-color: rgba(0,0,0,0.6);
}